In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.formula.api import ols
import statsmodels.api as sm

In [3]:
def read_df(path):
        try:
            all_sheets_dict = pd.read_excel(path, sheet_name=None)
            if not all_sheets_dict:
                print(f"Warning: The file '{path}' contains no sheets.")
                return pd.DataFrame()

            all_df = pd.concat(all_sheets_dict.values(), ignore_index=True)
            return all_df

        except ValueError as e:
            print(f"Error reading Excel file: {e}")
            return None
        except Exception as e:
            print(f"An unexpected error occurred: {e}")
            return None

In [3]:
path='/home/abd0g0m3aa/Documents/projects/InvestInMinds_Project2/Teacher To Student Ratios.xlsx'
df=read_df(path)
df.head()

   index              column
0      1  California — 22:1
1      2      Nevada — 20:1
2      3      Oregon — 19:1
3      4   Louisiana — 18:1
4      5       Idaho — 18:1

In [4]:
df.columns

Index(['index', 'column'], dtype='object')

In [5]:
df.drop('index',axis=1,inplace=True)

In [6]:
df.head()

               column
0  California — 22:1
1      Nevada — 20:1
2      Oregon — 19:1
3   Louisiana — 18:1
4       Idaho — 18:1

In [7]:
df[['State', 'ratio']] = df['column'].str.split(' — ', expand=True)
df['TecheersPerStudent'] = df['ratio'].str.split(':').str[0]
df.drop(columns=['column','ratio'],axis=1,inplace=True)

In [8]:
df.head()

        State TecheersPerStudent
0  California                 22
1      Nevada                 20
2      Oregon                 19
3   Louisiana                 18
4       Idaho                 18

In [9]:
df.to_excel(path, index=False)

In [7]:
path2='/home/abd0g0m3aa/Documents/projects/InvestInMinds_Project2/Financial Literacy By State.xlsx'
df2=read_df(path2)
df_merged = pd.merge(df, df2, on='State', how='outer')

In [19]:
df_merged.head()

,State,TecheersPerStudent,Overall Rank,Total Score,WalletLiteracy Score,Financial Planning & Habits Rank,Financial Knowledge & Education Rank
0,California,22.0,43.0,58.05,40.0,5.0,48.0
1,Nevada,20.0,41.0,58.39,46.0,31.0,39.0
2,Oregon,19.0,15.0,65.45,47.0,19.0,4.0
3,Louisiana,18.0,44.0,57.72,44.0,48.0,29.0
4,Idaho,18.0,28.0,63.06,39.0,20.0,22.0

In [20]:
df_merged.to_excel('merged.xlsx', index=False)